$body-background-color: #dcdcdc;
$text-muted-color: #777;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: $body-background-color;
  font-family: 'Roboto', sans-serif;
}


.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-muted {
  color: $text-muted-color;
}


.cursor-pointer {
  cursor: pointer;
}

.disable-selection {
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}